.fp{
margin:50px 0px; 
	
}

.form-card{
	flex:1;
display:flex;
justify-content:center;
align-items:center;

}

.form-card .form-card-header .social_icon .xxx{
font-size: 60px;
margin-left: 10px;
-webkit-text-fill-color: #66fcf1;
color: #66fcf1;
text-shadow:0 0 10px #444;
}

.form-card .form-card-header .social_icon .xxx:hover{
-webkit-text-fill-color: rgba(102, 252, 241, .5);
color: rgba(102, 252, 241, .5);
cursor: pointer;
}

.form-card .form-card-header .social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.form-input-group-prepend span{
width: 50px;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}



.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.form-card .card-body .form-group .form-login_btn{
font-weight:bolder;
width: 100px;
box-shadow:0 0 10px #444;
}

.form-card .card-body .form-group  .form-login_btn:hover{
font-weight:bolder;
}


.form-links a{
margin-left: 4px;
}

.card-body{
	display:flex;

}
.card-body form{
	flex:1;
	max-width:700px;
	width:500px;
}

@media (max-width:500px){
.card-body form{
	max-width:700px;
	width:100%;
}


}


@media (max-width:900px) and (min-width:500px){

.card-body form{
	max-width:700px;
	width:100%;
}


}



@media screen and (max-width:1380px) and (max-height:1380px)
 and (min-width:700px) and (min-height:700px){
.card-body form{
	max-width:700px;
	width:100%;
}

 }