@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
html{
  overflow:hidden;
}


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App{
  flex:1;
-webkit-text-align: center;
text-align: center;
background-color:#0C0032;
overflow-x:hidden;
overflow-y:auto;
background-repeat:no-repeat;
background-position:top;
-moz-background-size:cover;
-webkit-background-size:cover;
background-size:cover;
}

.preloader {
  align-items: center;
  background: rgba(4, 10, 37,.9);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

#root{
  position:absolute;
  -webkit-width:100%;
  -webkit-height:100%;
  width:100%;
  height:100%;
  display:flex;
  overflow:hidden;
  
}

  .serviceHolder{
    min-width:100%;
    max-width:100%;
    width:100%;
     display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    -webkit-text-fill-color:#000;
  }

.serviceToatsHolder{
   min-width:100%;
    max-width:100%;
    width:100%;
     display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    -webkit-text-fill-color:#000;
}

.skillzAnime{
  font-size:1rem;
}

.servicesFlow{
  display:flex;
  flex-direction:column;
   justify-content:center;
    align-items:center;
  flex:1;
  overflow-x:auto;
    box-shadow:0 0 5px #444;
}

.toatsBlock{
  height:300px;
  width:280px;
}

.toatsText{
  font-size:1rem;
}

.skillzAnime{
   -webkit-transform: translate3d(20px, 20px, 0px);
   transform: translate3d(20px, 20px, 0px);
  -webkit-animation:skillz 2s linear infinite;
  animation:skillz 2s linear infinite;
  
}


.phone_{
   -webkit-transform: translate3d(20px, 20px, 0px);
   transform: translate3d(20px, 20px, 0px);
  -webkit-animation:phone 2s linear infinite;
  animation:phone 2s linear infinite;
  
}





@keyframes phone{
   0% {
         -webkit-transform:rotateZ(10deg); 
         transform:rotateZ(10deg); 

    }
    50% {
        -webkit-transform:rotateZ(-40deg); 
        transform:rotateZ(-40deg); 
    }
    100% {
         -webkit-transform:rotateZ(10deg); 
         transform:rotateZ(10deg); 
    }
}


@keyframes skillz{
   0% {
        -webkit-transform: translate3d(0px, 40px, 0px);
        transform: translate3d(0px, 40px, 0px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(0px, 50px, 0px);
        transform: translate3d(0px, 50px, 0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0px, 40px, 0px);
        transform: translate3d(0px, 40px, 0px);
    }
}




.myProjectRole{
    margin-top:50px;
   padding: 40px;
   display:flex;
   justify-content:center;
   align-items:center;
  font-family: 'Monoton', cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  color: red;
}

.myProjectRole h1 { margin:0;font-size: 75px; }


.myRole{
   padding: 40px;
  font-family: 'Monoton', cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  color: red;
}

.myRole h1 { margin:0;font-size: 3rem; }
.error:hover { text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; }
.code:hover { text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; }
.error {
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
.error span {
  animation: upper 11s linear infinite;
}
.code span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}
.code span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}


/*mobile standing up*/
@media (max-width:500px){
.servicesFlow{
  display:flex;
  flex-direction:column;
  justify-content:center;
    align-items:center;

}


.alt{
  font-size:1.60rem;
  text-decoration:underline rgba(250,250,250,.2);
}
.myRole{
   padding: 0;
   font-weight:bolder;
}
.myRole h1{
  font-size: 1.60rem;
}

.myProjectRole{
   padding: 0;
   font-weight:bolder;
}
.myProjectRole h1{
  font-size: 1.60rem;
}

.skillzAnime{
  max-width:105px;
  font-size:.85rem;
  font-weight:400;
}


}



/*mobile tilting to the side*/
@media (max-width:900px) and (max-height:500px) and (min-width:500px){
  .servicesFlow{
  display:flex;
  flex-direction:column;
   justify-content:center;
    align-items:center;

}

.myRole{
   padding: 10px;
}
.myRole h1{
  font-size: 2rem;
}

.myProjectRole{
   padding: 10px;
   font-weight:bolder;
}
.myProjectRole h1{
  font-size: 2.2rem;
}

.waveWrapperInner {
    -webkit-height: 40%;
    height: 40%;
}


}


/*pad standing up*/
@media screen and (max-width:1380px) and (max-height:1380px)
 and (min-width:700px) and (min-height:1000px){
  .servicesFlow{
  display:flex;
  flex-direction:column;
   justify-content:center;
    align-items:center;

}


.myRole{
   padding: 20px;
}

.myRole h1{
  font-size: 57px;
}


.myProjectRole{
   padding: 20px;
   font-weight:bolder;
}
.myProjectRole h1{
  font-size: 57px;
}

.toatsBlock{
  -webkit-height:300px;
  -webkit-min-width:450px;
  height:300px;
  min-width:450px
}


 }




/*pad tilting to the side*/
@media screen and (max-width:1380px) and (max-height:1200px)
 and (min-width:1000px) and (min-height:700px){
   .servicesFlow{
  display:flex;
  flex-direction:row;
   justify-content:center;
    align-items:flex-start;

}


.myRole h1{
  font-size: 57px;
}

.myProjectRole h1{
  font-size: 57px;
}
.toatsBlock{
  height:300px;
  width:100%
}


.toatsText{
  font-size:.7rem;
  padding:5px 0px;
}

 }

@media (min-width:1380px){
  .servicesFlow{
  display:flex;
  flex-direction:row;
   justify-content:center;
    align-items:center;

}



.toatsBlock{
  height:300px;
  width:100%
}

}




/*HIDE DESCRIPTION ARROWS IN SUMMARY TAGZ*/

/*Some rare devices*/
.deets summary::-webkit-details-marker {
  display:none;
}

/*should catch the rest of devices*/
.deets > summary:first-of-type {
    list-style-type: none;
}

.modalzzzz .modal-content{
  background:rgba(0,0,0,0);
  border:none;
}